body {
    width: 960px;
    background-color: lightgray;
    margin: 0, auto;
    padding: 40px;
}
nav.navigationBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px gray solid;
    border-bottom-width: 100%;
    height: 40px;
    background-color: white;
}
li#Name {
    display: inline-flex;
    font-size: 18px;
    font-weight: bolder;
    background-color: teal;
    color: white;
    text-align: center;
    height: 30px;
    padding-top: 10px;
}
a {
    display: inline-flex;
    float: right;
    padding-right: 2em;
    text-align: center;
    font-size: 0.8em;
    padding-top: 10px;

}
div.main {
    background-color: white;
    border: 1px solid black;
    margin: 0, auto;
}

h3 {
    color: teal;
    text-align: left;
    border-bottom: 1px gray solid;
    margin-left: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
img {
    width: 200px;
    height: 200px;
    position: relative;
}
p {
    line-height: 28px;
    margin-left: 10px;
}
p#one {
    margin-left: 10px
}
p#two {
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: grey;
}
a:hover {
    color: purple;
}
#me {
    margin-right: 5px;
    float: left;
    margin-left: 5px;
    margin-bottom: 10px;
}
div#main {
    background-color: white;
    width: 960px;
    height: 900px;
}
div.hang {
    position: relative;
    margin: 30px;
    float: left;
    width: 200px;
    padding-left: 12%;
}
div.caption {
    position: absolute;
    z-index: 2;
    bottom: 2px;
    width: 200px;
    text-align: center;
    padding: 2px 2px;
    background-color: teal;
    color: white;
}
div.rpg {
    position: relative;
    margin: 30px;
    float: right;
    width: 200px;
    padding-right: 12%;
}
div.trivia {
    position: relative;
    margin: 30px;
    float: left;
    width: 200px;
    padding-left: 12%;
}
div.rutgersWidget {
    position: relative;
    margin: 30px;
    float: right;
    width: 200px;
    padding-right: 12%;
}
div.rockPaperScissors {
    position: relative;
    margin: 30px;
    float: left;
    width: 200px;
    padding-left: 12%;
}
.main::after {
    content: "";
    clear: both;
    display: table;
}
form {
    margin-left: 5px;
    margin-bottom: 20px;
}
footer {
    clear: both;
    background-color: darkgray;
    color: white;
    width: 960px;
    text-align: center;
    border-top: 3px solid teal;
    height: 40px;
    font-size: 0.8em;
    padding-top: 10px;
}